* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
  :root {
    --main-color1: #3859CE;
    --main-color1-50: rgba(56, 89, 206, 0.5);
    --main-color2: #040E30;
    --secondary-color1: #D3DDFF;
    --secondary-color1-50: rgba(211, 221, 255, 0.50);
    --secondary-color1-30: rgba(211, 221, 255, 0.30);
    --secondary-color2: #F0F4FF;
    --secondary-color3: #FFFDEF;
  }
  
  html {
    font-size: 24px;
    font-family: 'Inter', sans-serif;
    scroll-behavior: smooth;
  }
  
  header {
    margin: 16px;
    margin-bottom: 0;
  }
  
  main {
    width: 100%;
  }
  
  
  h1 {
    color: var(--secondary-color3);
    font-size: 11rem;
    font-style: normal;
    font-weight: 700;
    line-height: 185px;
  
    /* 75% */
    letter-spacing: 15.0px;
  }
  
  h2 {
    color: var(--secondary-color3);
    font-size: 4rem;
    font-style: normal;
    font-weight: 800;
    line-height: 76px;
  
    width: 1000px;
    padding-top: 60px;
    padding-bottom: 32px;
  
    cursor: pointer;
  
    /* 80% */
  }
  
  h2:hover {
    width: 1200px;
    padding-left: 40px;
    letter-spacing: 12px;
    transition: all 500ms ease-in-out 500ms;
  }
  
  h3 {
    color: var(--secondary-color1);
    text-align: right;
    font-family: inherit;
    font-size: 80px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
  }
  
  h4 {
    color: var(--secondary-color2);
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
  }
  
  svg.logo {
    fill: var(--secondary-color3);
  }
  
  button {
    border: none;
    background: transparent;
  }
  
  nav {
    padding: 8px 16px 2px 16px;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    display: grid;

    grid: auto-flow / 2fr 1fr 1fr 1fr 2fr;
    grid-gap: 2px;
    background-color: var(--main-color1);
  
    z-index: 10;
  }
  
  nav a {
    color: var(--secondary-color1);
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: var(--secondary-color1-50);
    backdrop-filter: blur(3px);
    border-radius: 4px;
  }
  
  nav a:hover {
    font-weight: 550;
    letter-spacing: 2px;
    color: var(--main-color2);
    background: rgba(255, 253, 239, 0.80);
    backdrop-filter: blur(3px);
    transition: all 200ms ease-in-out;
    cursor: pointer;
  }
  
  .nav-left {
    text-align: left;
    padding-left: 32px;
  }
  
  .nav-right {
    text-align: right;
    padding-right: 32px;
  }
  
  .nav-center {
    text-align: center;
  }
  
  a {
    text-decoration: none;
    color: var(--secondary-color1);
    cursor: pointer;
  }
  
  .ssmedia-icons a:hover {
    color: var(--secondary-color3);
    transition: all 200ms ease-in-out;
    cursor: pointer;
  }
  
  #welcome-section {
    height: calc(100vh - 73px);
    margin: 80px 16px 0 16px;
    position: sticky;
    top: -160px;
    z-index: 0;
  }
  
  .sub-info {
    height: calc(100% - 10px);
    display: grid;
    grid-column: 16px;
    grid: auto-flow / 3fr 4fr;
    grid-gap: 2px;
    z-index: 1;
  }
  
  .emty {
    content: none;
  }
  
  .brief-info {
    height: 100%;
    margin-top: 0;
    background-color: var(--secondary-color1-30);
    backdrop-filter: blur(20px);
    border-radius: 4px;
  }
  
  .brief-info p {
    width: 80%;
    min-width: 180px;
    margin-bottom: 16px;
    flex-shrink: 0;
    height: 290px;
    overflow: hidden;
    color: var(--secondary-color1);
  
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }
  
  .brief-info div {
    width: 50%;
    position: relative;
    left: 50%;
    top: 30%;
  
  }
  
  /* For Button */
  
  button:hover {
    cursor: pointer;
  }

  .button-mid {
    display: inline-flex;
    padding-bottom: 1.5px;
    justify-content: center;
    align-items: center;
    gap: 8px;
    text-decoration-line: underline;
    color: var(--secondary-color2);
    background-color: transparent;
    border: none;
  }
  .detail>.button-mid {
    width: 100%;
    margin: 32px auto;
    padding: 0 auto;
  }
  .button-mid:hover {
    h4 {
      color: var(--secondary-color3);
      transition: all 400ms ease-out;
      word-spacing: 4px;
      letter-spacing: 2px;
    }
  
    svg {
      transform: rotate(45deg);
      fill: var(--secondary-color3);
      transition: all 600ms ease-out;
    }
  
    gap: 12px;
    color: var(--secondary-color3);
    transition: text-decoration 300ms ease-out;
  }
  
  /* Contact bar */

  .contact-bar {
    position: absolute;
    top: 14.5vh;
    display: flex;
    width: 100%;
    padding: 0px 56px;
    justify-content: space-between;
    align-items: flex-start;
    z-index: 1;
  }
  
  .logo-icon {
    padding: 8px 14px 2px 14px;
    background-color: var(--secondary-color1-50);
    backdrop-filter: blur(16px);
    border-radius: 100px;
  }
  
  .logo-icon:hover {
    padding: 16px 22px 10px 22px;
    background-color: var(--main-color2);
    position: relative;
    top: -8px;
    left: -8px;
    transition: padding 500ms ease-in-out,
      background-color 1200ms ease-in-out;
    cursor: pointer;
  }
  
  .ssmedia-icons {
    width: 160px;
    color: var(--secondary-color3);
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .fa {
    padding-right: 6px;
  }
  

  /* Sub bar */

  .sub-bar {
    position: fixed;
    bottom: 6.5vh;
    display: flex;
    width: 100%;
    padding: 0px 56px;
    justify-content: space-between;
    align-items: center;
    z-index: 1;
  }
  
  /* mode changer button setting */

  .mode-changer {
    height: 40px;
    width: 100px;
    border-radius: 100px;
  }
  
  .mode-changer:hover {
    width: 120px;
    cursor: pointer;
    transition: width 300ms ease-out 10ms;
  
    .moon {
      margin-left: 60px;
      transition: margin-right 600ms ease-out 10ms,
        margin-left 600ms ease-out 10ms;
    }
  }
  
  .mode {
    height: 100%;
    width: 80%;
    border-radius: 100px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
  }
  
  .dark {
    background-color: var(--main-color2);
    left: 56px;
    border: 0.5px solid var(--secondary-color1);
    position: relative;
    top: 0;
    left: -5%;
  }
  
  .light {
    background-color: var(--secondary-color2);
    position: relative;
    top: -100%;
    left: 5%;
    z-index: -1;
  }
  
  .moon {
    margin-left: 8px;
  }
  
  .sun {
    margin-right: 8px;
    display: none;
  }

  /* svg arrow-down */

  .arrow-down{
    fill: var(--secondary-color2);
  }
  .arrow-down:hover{
    fill: var(--secondary-color3);
    transition: all 200ms ease-in-out 0;
  }
  .arrow-down:active{
    fill: var(--secondary-color3);  
    transform: scale(1.5);
    transition: all 200ms ease-in-out 0;
  }
  
  /* detail sections setting up */

  .detail {
    padding: 0 16px;
  }
  
  #projects {
    padding: 0 16px 28px 16px;
    background-color: var(--main-color1);
    position: relative;
    top: 0;
    z-index: 0;
  }
  
  .image-container {
    height: 600px;
    background-color: none;
    border-radius: 4px;
  }
  
  /* title of thumbnail */

  .project-title {
    padding: 16px 32px;
    color: var(--main-color2);
    background-color: var(--secondary-color2);
    border-radius: 4px 4px 0 0;
    position: relative;
    top: 0;
    opacity: 0;
  }
  
  .project-title h4 {
    color: var(--main-color2);
    margin-bottom: 8px;
  }
  
  .project-title p {
    font-size: 0.8rem;
    margin-top: 8px; 
    opacity: 0.6;
  }
  
  .project-title hr {
    border-top: 1px solid var(--main-color2);
    border-bottom: none;
    border-left: none;
    border-right: none;
  }
  
  .overlay {
    height: 100%;
    width: 100%;
    background-color: var(--main-color1-50);
    overlay: hidden;
  }
  
  .overlay:hover {
    .project-title {
      position: relative;
      opacity: 1;
      transition: all 400ms ease-out 150ms;
    }
  
    background-color: transparent;
    transition: all 800ms ease-out 150ms;
    cursor: pointer;
  }
  
  /* projects thumbnail setup */

  .wk-project-thumbnail {
    display: grid;
    grid-column: 16px;
    grid: auto-flow / 3fr 4fr;
    grid-gap: 2px;
  }
  
  .project-tile {
    border-radius: 4px;
  }

  .tn-left {
    background-color: var(--secondary-color1);
  }

  /* tn: thumbnail
     tn-r: thumbnail right */
  
  .tn-right {
    display: grid;
    grid-row: auto;
    grid-template-rows: 1fr 1fr;
    grid-gap: 2px;
    background-color: none;
  }
  
  .tn-r-top {
    display: grid;
    grid-column: auto;
    grid: auto-flow / 2fr 1fr;
    grid-gap: 2px;
  }
  
  .tn-r-bottom {
    display: grid;
    grid-column: 16px;
    grid: auto-flow / 3fr 4fr;
    grid-gap: 2px;
  }
  
  .tn-r-bottom-left {
    background-color: var(--secondary-color1);
  }
  
  .tn-r-bottom-right {
    background-color: var(--secondary-color1);
  }

  .tn-left {
    background-image: url("https://images.unsplash.com/photo-1479292889369-1a48f234247e?q=80&w=1974&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
    background-repeat: no-repeat;
    background-origin: content-box;
    background-size: cover;
    background-position: center;
  }
  
  .tn-r-top-left {
    background-image: url("https://images.unsplash.com/photo-1483366774565-c783b9f70e2c?q=80&w=3270&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
    background-repeat: no-repeat;
    background-origin: content-box;
    background-size: cover;
    background-position: center;
  }
  .tn-r-top-right {
    background-image: url("https://images.unsplash.com/photo-1582045253062-f63cfbd45bcb?q=80&w=2500&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
    background-repeat: no-repeat;
    background-origin: content-box;
    background-size: cover;
    background-position: center;
  }
  .tn-r-bottom-left {
    background-image: url("https://images.unsplash.com/photo-1479839672679-a46483c0e7c8?q=80&w=2020&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
    background-repeat: no-repeat;
    background-origin: content-box;
    background-size: cover;
    background-position: center;
  }
  
  .tn-r-bottom-right {
    background-image: url("https://images.unsplash.com/photo-1524230572899-a752b3835840?q=80&w=1936&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
    background-repeat: no-repeat;
    background-origin: content-box;
    background-size: cover;
    background-position: center;
  }
  
  /* about me setup */
  
  #about-me {
    background-color: var(--main-color2);
    border-radius: 0;
    display: block;
    position: relative;
    top: 0;
    z-index: 0;
  }
  
  
  .heading p {
    display: -webkit-box;
    width: 100%;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 4;
  
    padding-bottom: 32px;
  
    overflow: hidden;
    color: var(--secondary-color1);
    text-overflow: ellipsis;
    font-family: inherit;
    font-size: inherit;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }
  
  .thumbnail {
    border-radius: 4px;
  }
  
  .ab-thumbnail {
    display: grid;
    grid-column: 16px;
    grid: auto-flow / 3.6fr 1.7fr;
    grid-gap: 2px;
  }
  
  .ab-left {
    background-color: var(--secondary-color1);
  }
  
  .ab-right {
    display: grid;
    grid-row: inherit;
    grid-template-rows: 1fr 1fr;
    grid-gap: 2px;
  }
  
  .ab-r-top {
    background-color: var(--secondary-color1);
  }
  
  .ab-r-bottom {
    background-color: var(--secondary-color1);
  }
  
  article.ab-content {
    margin-top: 64px;
    margin-left: 64px;
    margin-right: 64px;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  
  .ab-content h4 {
    color: var(--main-color2);
    text-align: left;
  }
  
  .ab-content p {
    margin-top: 16px;
    overflow: hidden;
    text-overflow: ellipsis;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    /* 100% */
  }
  
  .large {
    height: 530px;
  }
  
  .small {
    height: 148px;
  }
  
  
  .logo-container {
    margin-top: 40px;
    margin-bottom: 30px;
    display: inline-flex;
    align-items: flex-start;
    position: absolute;
    left: 14%;
    top: 195px;
    z-index: -1;
  }
  
  .author-name-container {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
  }
  
  .author-name {
    width: 100%;
    padding-top: 80px;
    padding-bottom: 0;
    margin-left: auto;
    margin-right: auto;
    position: absolute;
    top: 140px;
    display: grid;
    grid-column: 16px;
    grid: auto-flow / 3fr 4fr 3fr;
    grid-gap: 16px;
    z-index: -3;
  }
  
  .credit-symbol {
    color: var(--secondary-color3);
    font-size: 50px;
    font-style: normal;
    font-weight: 700;
    line-height: 145px;
    letter-spacing: 3px;
  }
  
  .BG1 {
    width: 100%;
    height: 2500px;
    background-color: var(--main-color1);
    position: absolute;
    top: 0;
    left: 0;
    z-index: -4;
  }
  
  /* For Social media links */

  #social-media {
    padding: 64px 16px;
    color: var(--secondary-color1);
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-end;
    background-color: var(--main-color2);
    position: sticky;
  }
  
  #social-media h4 {
    margin-bottom: 12px;
    margin-right: 20px;
  }
  
  #ssm-link h3 {
    text-align: right;
    margin-right: -16px;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }
  
  .arrow-up-right {
    width: 0;
  }
  /* ssm: social media */

  .ssm-link:hover{
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: flex-end;.
  
    padding-left: 2000px;
    padding-right: 40px;
    
    color: var(--secondary-color3);
    background-color: var(--main-color1);
    text-align: right;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
  
    transition: all 300ms linear 50ms ;
  
    .arrow-up-right {
    width: 88px ;
    margin-left: -4px;
    position: relative;
    bottom: -6px;
    transition: all 400ms linear 50ms ;
    }
  
  }
  
  
  
  /* For footer */
  
  footer {
    width: 100%;
    display: flex;
    padding: 32px 16px 32px 16px;
    background-color: var(--main-color2);
    justify-content: space-between;
    align-items: center;
  
    color: var(--secondary-color2);
    font-family: inherit;
    font-size: inherit;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
  }
  
  footer div {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 32px;
  }
  
  
  /* For desktop: */
  @media only screen and (max-width: 1580px) {
    .logo-container {
      left: 11%;
    }
  }
  
  @media only screen and (max-width: 1430px) {
    .logo-container {
      left: 8%;
    }
  }
  
  @media only screen and (max-width: 1370px) {
    .logo-container {
      left: 5%;
    }
  }
  
  @media only screen and (max-width: 1200px) {
    .logo-container {
      height: 0;
      width: 0;
    }
  
    .ssmedia-icons {
      width: 130px;
    }
  
    html {
      font-size: 20px;
    }
    nav a {
        padding-top: 22.5px;
        padding-bottom: 22.5px;
    }
  
    h1 {
      font-size: 11rem;
      line-height: 160px;
      letter-spacing: 12px;
  
      /* 75% */
    }
  
    h2 {
      font-size: 4rem;
  
      /* 80% */
    }
  
    h3 {
      font-size: 3.5rem;
    }
  
    h4 {
      font-size: 1.4rem;
    }
  
    .brief-info p {
      width: 70%;
      margin-bottom: 8px;
      flex-shrink: 1;
      height: 260px;
    }
  
    .brief-info div {
      position: relative;
      top: 27%;
    }
  
  }
  
  @media only screen and (max-width: 1100px) {
    h2.heading {
      width: 100%;
      font-size: 3rem;
      line-height: 48px;
      padding-top: 32px;
      padding-bottom: 32px;
    }
    nav a {
        padding-top: 22.5px;
        padding-bottom: 22.5px;
    }
  
    #projects {
      padding: 0 16px;
    }
  
    #projects h2 {
      padding-bottom: 40px;
    }
  
    .contact-bar {
      position: absolute;
      top: 100px;
    }
  
    .sub-bar {
      position: absolute;
      bottom: 7vh;
    }
  
    footer {
      padding-bottom: 32px;
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      align-items: flex-end;
    }
  
    footer div {
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      align-items: flex-end;
      gap: 0px;
    }
  
    footer p {
      margin: 4px 0;
    }
  }
  
  /* For mobile phones: */
  @media only screen and (max-width: 768px) {}
  